@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Name Smile";
  font-style: normal;
  font-weight: normal;
  src: local("Name Smile"), url("/Name-Smile.otf") format("opentype");
}

/* @import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap'); */

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: "Name Smile", system-ui;
  position: relative;
}


html {
  font-family: "Name Smile", system-ui;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    @apply px-5 lg:px-10 xl:px-14 2xl:px-20;
    width: 100%;

    max-width: calc(109rem + (160rem / 16));
    margin: 0 auto;
  }
}

.font-impact {
  font-family: "Impact", sans-serif;
}

.timer-box {
  background: #ff0072;
  box-shadow: -10px 10px 0px #00f2ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: #ffdd00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffdd00;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 200px 200px rgba(0, 0, 0, 0.405);
  background-color: #000
}

.class-box {
  @apply leading-none uppercase font-black;

  box-shadow: -7px 7px 0px #7200ff;
}

.class {
  @apply leading-none uppercase font-black;
  font-size: 5rem;
  color: #ff0072;
  text-shadow: -4px 4px 0px #00f2ff;
}

.arep-form {
  width: 100%;
  max-width: 600px;
}

.arep-input {
  display: block;
  width: 100%;
}

.arep-form-field-wrapper {
  margin-bottom: 12px;
}

.arep-mobileNumber-input-wrap .arep-mobileNumber-code-input {
  display: inline-block;
  width: 100px;
  margin-right: 6px;
}

.arep-mobileNumber-input-wrap .arep-mobileNumber-number-input {
  display: inline-block;
  width: calc(100% - 100px - 6px);
}

.win-text-shadow {
  text-shadow: -2px 2px 0 black;
}

.gradient-bg {
  background: linear-gradient(155deg, #0b0b0b 35%, #0b0b0b 100%);
}

@media (min-width: 1024px) {
  .class-box {
    @apply leading-none uppercase font-black;
    box-shadow: -24px 28px 0px #7200ff;
  }

  .class {
    font-size: 10rem;
    text-shadow: -12px 12px 0px #00f2ff;
  }

  .gradient-bg {
    background: linear-gradient(155deg, #0b0b0b 35%, #0b0b0b 100%);
  }
}

.poster {
  @apply flex flex-col items-center;
  max-width: 786px;
  width: 100%;
  padding-bottom: 55%;


}

.poster>div {
  position: relative;
  width: 100%;
}

.poster img {
  width: 100%;
}

.poster .text {
  width: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%);
}