.section {
  @apply min-h-screen;
}
.hero {
  @apply mx-auto w-full;
  max-width: 1480px;
  padding-top: 10%;
}
.artists {
  @apply flex w-full;
  > div {
    display: flex;
    justify-content: center;
  }
  img {
    @apply w-full h-auto;
    max-width: unset;
    width: 150%;
    object-fit: contain;
  }
  .josh {
    position: relative;
    z-index: 0;
    img {
      transform: translateX(12%);
    }
  }
  .jboog {
    position: relative;
    z-index: 1;
    img {
      width: 140%;
      transform: translateX(5%);
    }
  }
  .fiji {
    position: relative;
    z-index: 0;
    img {
      transform: translateX(-5%);
    }
  }
  .maoli {
    position: relative;
    z-index: 3;
    img {
      transform: translateX(-15%);
    }
  }
}
