.burger {
  position: relative;
  height: 18px;
  width: 20px;
  cursor: pointer;
  &::after {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border border-white;
    content: "";
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    z-index: -1;
    background: black;
  }

  .line-top,
  .line-middle,
  .line-bottom {
    position: absolute;
    display: block;
    height: 2px;
    width: 20px;
    border-radius: 2px;
    background: #fff;
  }

  .line-top {
    top: 0;
    right: 0;
    transform-origin: 105% 50%;
  }

  .line-middle {
    top: calc(9px - 1px);
    transition: opacity 200ms linear;
  }

  .line-bottom {
    bottom: 0;
    transform-origin: 105% 50%;
  }

  &.is-open {
    .line-top {
      animation: line-top-out 600ms linear normal;
      animation-fill-mode: forwards;
    }
    .line-middle {
      opacity: 0;
    }
    .line-bottom {
      animation: line-bot-out 600ms linear normal;
      animation-fill-mode: forwards;
    }
    &::after {
      @apply opacity-0;
      content: "";
    }
  }

  &.is-closed {
    .line-top {
      animation: line-top-in 600ms linear normal;
      animation-fill-mode: forwards;
    }
    .line-middle {
      transition-delay: 200ms;
    }
    .line-bottom {
      animation: line-bot-in 600ms linear normal;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes line-top-in {
  0% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(-60deg);
  }
  80% {
    transform: rotate(15deg);
  }
  100% {
    left: 0;
    bot: 1px;
    transform: rotate(0deg);
  }
}

@keyframes line-top-out {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(-60deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes line-bot-in {
  0% {
    transform: rotate(45deg);
  }
  20% {
    transform: rotate(60deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes line-bot-out {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(60deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
